vrrp_script chk_haproxy {
script "killall -0 haproxy"   # verify the pid existance
interval 2                    # check every 2 seconds
weight 2                      # add 2 points of prio if OK
}

vrrp_instance VI_1 {
interface "{{keepalived_interface}}"      # interface to monitor
state MASTER
virtual_router_id 51                      # Assign one ID for this route
priority "{{ keepalived_priority }} "     # 100 on master, 50 on backup

#virtual IP's
virtual_ipaddress {
"{{keepalived_VIP}}"

}

track_script {
chk_haproxy
  }
}
